<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <ul>
        <li><a href="{% url 'uzytkownicy_list' %}">Uzytkownicy</a></li>
        <li><a href="{% url 'gry_list' %}">Gry</a></li>
        <li><a href="{% url 'zaklady_list' %}">Zaklady</a></li>
        <li><a href="{% url 'transakcje_list' %}">Transakcje</a></li>
        <li><a href="{% url 'bonusy_list' %}">Bonusy</a></li>
        <li><a href="{% url 'statystyki_list' %}">Statystyki</a></li>
    </ul>
</body>
</html>