<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <ul>
        <li><a href="{% url 'user_list' %}">User</a></li>
        <li><a href="{% url 'game_list' %}">Game</a></li>
        <li><a href="{% url 'bets_list' %}">Bets</a></li>
        <li><a href="{% url 'transaction_list' %}">Transaction</a></li>
        <li><a href="{% url 'bonuses_list' %}">Bonus</a></li>
        <li><a href="{% url 'statistics_list' %}">Statistics</a></li>
    </ul>
</body>
</html>